{% layout 'default-layout.liquid' %}
{% block content %}
<h3>jobinstance list</h3>

{{  jobinstance | json }}

<table class='table'>
  <thead>
    <tr>
      <th scope='col'>#</th>
      <th scope='col'>Job</th>
      <th scope='col'>Start Date</th>
      <th scope='col'>End Date</th>
      <th scope='col'>Status</th>
      <th scope='col'>Exit code</th>
    </tr>
  </thead>
  <tbody>
    {% for jobinstance in jobinstances %}
      <tr>
        <th scope='row'>
          <a href='{{ DOCROOT }}/jobinstances/details/{{jobinstance.id}}'>{{ jobinstance.id }}</a>
        </th>
        <td>{{ jobinstance.job.name }}</td>
        <td>{{ jobinstance.start }}</td>
        <td>{{ jobinstance.end }}</td>
        <td>{{ jobinstance.status }}</td>
        <td>{{ jobinstance.exit }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
