{% layout 'default-layout.liquid' %}
{% block content %}
<h3>Security details</h3>
<h4>Dbs</h4>
<table class='table'>
  <thead>
    <tr>
      <th scope='col'>DB</th>
    </tr>
  </thead>
  <tbody>
    {% for db in dbs %}
      <tr>
        <th scope='row'>
          <a href='{{ DOCROOT }}/secman/db/{{db.database_name}}'>{{ db.database_name }}</a>
        </th>
      </tr>
    {% endfor %}
  </tbody>
</table>
<h4>Users</h4>

<table class='table'>
  <thead>
    <tr>
      <th scope='col'>Name</th>
      <th scope='col'>Type</th>
      <th scope='col'>Type desc</th>
      <th scope='col'>Disabled</th>
      <th scope='col'>Fixed role</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <th scope='row'>
          <a href='{{ DOCROOT }}/secman/user/{{user.name}}'>{{ user.name }}</a>
        </th>
        <td>{{ user.type }}</td>
        <td>{{ user.type_desc }}</td>
        <td>{{ user.is_disabled }}</td>
        <td>{{ user.is_fixed_role }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div class='btn-group' role='group' aria-label='Basic example'>
  <a class='btn btn-primary' href='{{ DOCROOT }}/secman/user/add'>Add new</a>
</div>
<h4>Roles</h4>

<table class='table'>
  <thead>
    <tr>
      <th scope='col'>Name</th>
      <th scope='col'>Type</th>
      <th scope='col'>Type desc</th>
      <th scope='col'>Disabled</th>
      <th scope='col'>Fixed role</th>
    </tr>
  </thead>
  <tbody>
    {% for role in roles %}
      <tr>
        <th scope='row'>{{ role.name }}</th>
        <td>{{ role.type }}</td>
        <td>{{ role.type_desc }}</td>
        <td>{{ role.is_disabled }}</td>
        <td>{{ role.is_fixed_role }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
