{% layout 'default-layout.liquid' %}
{% block content %}
<script>
  function testNotifications() {
    // Crea un oggetto XMLHttpRequest
    const xhr = new XMLHttpRequest();

    // Imposta il metodo di richiesta e l'URL
    xhr.open('GET', '{{ DOCROOT }}/users/testnotif/{{ user.id }}');

    // Gestisce la risposta della richiesta
    xhr.onload = function () {
      if (xhr.status === 200) {
        // La richiesta ha avuto successo
        const contenuto = xhr.responseText;
        // Aggiorna il contenuto della pagina con il contenuto ricevuto
        document.getElementById('contenuto').innerHTML = contenuto;
      } else {
        // La richiesta è fallita
        console.error('Errore durante il caricamento della pagina:', xhr.statusText);
      }
    };

    // Invia la richiesta
    xhr.send();
  }
</script>

<form method='post' action='{{  DOCROOT }}/users/save' autocomplete='off'>
  <div class='mb-3'>
    <label for='login' class='form-label'>login</label>
    <input
      type='text'
      name='login'
      {% if user.id %}
        readonly
      {% endif %}
      class='form-control'
      id='login'
      value='{{ user.login }}'
      aria-describedby='login'
    >
  </div>
  <div class='mb-3'>
    <input
      type='checkbox'
      class='form-check-input'
      id='active'
      name='active'
      {% if user.active %}
        checked
      {% endif %}
      aria-describedby='active'
    >
    <label for='active' class='form-check-label'>active</label>
  </div>
  <div class='mb-3'>
    <input
      type='checkbox'
      class='form-check-input'
      id='notifications'
      name='notifications'
      {% if user.notifications %}
        checked
      {% endif %}
      aria-describedby='notifications'
    >
    <label for='notifications' class='form-check-label'>notifications</label>
  </div>
  <div class='mb-3'>
    <label for='email' class='form-label'>email</label>
    <input
      type='text'
      name='email'
      class='form-control'
      id='email'
      value='{{ user.email }}'
      aria-describedby='email'
    >
  </div>
  <div class='mb-3'>
    <label for='level' class='form-label'>level</label>
    <select name='level' class='form-control'>
      <option
        value='1'
        {% if user.level == 1 %}
          selected
        {% endif %}
      >
        Admin
      </option>
      <option
        value='2'
        {% if user.level == 2 %}
          selected
        {% endif %}
      >
        user
      </option>
    </select>
  </div>
  <div class='mb-3'>
    <label for='password' class='form-label'>password</label>
    <div class='row'>
      <div class='col'>
        <input type='password' class='form-control' autocomplete='off' name='pwd1string' placeholder='Password'>
      </div>
      <div class='col'>
        <input
          type='password'
          class='form-control'
          autocomplete='off'
          name='pwd2string'
          placeholder='Confirm password'
        >
      </div>
    </div>
  </div>
  <input type='hidden' name='id' value='{{ user.id }}'>
  <div class='btn-group' role='group' aria-label='Basic example'>
    <button type='submit' class='btn btn-primary'>Submit</button>
    {% if user.id %}
      <button type='button' onclick='testNotifications()' class='btn btn-primary'>Test notifications</button>
    {% endif %}

    <a class='btn btn-primary' href='{{ DOCROOT }}/users/list'>Back</a>
  </div>
  <div class='messages'>
    <span id='contenuto'></span>
  </div>
</form>
{% endblock %}
